html {
  overflow-y: scroll;  
}

img {  
    border: 0;  
}

li  {  
    list-style-type: none;  
}


.font{  
    font-size: 30px;
    font-family: "Yu Mincho";
    color: white
}


.parent{
 /* border: 1px solid #aaa;*/
  padding: 10px;
  text-align: center;
  width: 65%;
}

.tablecell{
  /*border: 1px solid #aaa;*/
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 65%;
  height: 250px;
  margin: 20px;
  text-align: left
}

p.resizeimage img {
     width: 45%;
}

.header{
  background:#231816;
  box-shadow:0 2px 8px rgba(30,30,80,.3);
  left:0;
  line-height:1;
  position:fixed;
  top:0;
  width:100%;
  z-index:24;
}

.content{
  padding-top:46px;
}

.header-padding{
  padding:23px 0;
}

ul {
  display: flex;
  /*justify-content: space-between;*/
}
li {
  list-style-type: none;
  background-color: ;
  color: #000;
  flex-grow: 1;
  text-align: center;
}
li + li {
  border-left: 1px solid #000;
}

h1 {
  border-bottom: solid 3px#231816;
  color:#231816;
  font-size: 30px;
}

